
@{
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #welcome {
            margin-left: 450px;
            font-size: 60px;
            color: white;
            margin-top: -250px;
        }
        img {
            margin-left: 60px;
        }
    </style>
</head>
<body>
    <img src="~/images/admin.jpg" />
    <p id="welcome">Welcome</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>
